#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 90%;
}

h3 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

p {
  margin: 0;
}

button {
  background-color: #2b3bb4;
  color: rgb(230, 230, 230);
  min-width: 160px;
  margin: 2.5em 2em;
  
}