#root {
  margin: 0 auto;
  text-align: center;
  padding: 0 4vw 16vw 4vw;
  max-width: 800px;
  width: 90vw;
  font-family: 'Poppins', serif;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

h3 {
  margin-top: 2.5em;
}

p {
  margin: 0;
}

button {
  background-color: #0075ff;
  color: rgb(230, 230, 230);
  margin: 4em 2em;
  border-style: 2px solid #b2b2b2;
  border-radius: 1px;
}

.input_label {
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  margin: 4vh 0 0 0;
}

.wide_button {
  background-color: white;
  color: black;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 2.5vh;
  padding: 0.5em 0;
  width: 50vw;
}
