.session_control_icon {
  width: 8vw;
  height: 8vw;
  max-height: 48px;
  max-width: 48px;
  filter: invert(100%);
}

.control_button {
  padding: 0;
  margin: 0;
  min-width: 30px;
  display: grid;
  place-items: center;
  margin: 0 0.5vh 0 1vh;
  background-color: #282f35;
}

#session_control_bar {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 16vw;
  position: fixed;
  background-color: #282f35;
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  max-height: 64px;
}
