label {
  display: block;
}

.vibration_curve_editor {
  padding: 0;
}

canvas {
  width: 80vw;
  height: 80vw;
  padding-top: 2vh;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: -1.5vh;
}

.curve_input_label {
  font-size: 1.3em !important;
  margin-top: 0.8vh !important;
}
