label {
    display: block;
}

.vibration_curve_editor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 0 2rem;
}

#vibration_curve_editor_title {
    grid-column: 1/3;
}
canvas {
    width: 90%;
    
}